<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.high.mapper.ParticipateMapper">

	<select id="getParticipatesByActivityId" resultType="com.high.entity.User" parameterType="java.lang.String">
		SELECT
			t_user.user_id,
			user_name,
			wechat_number,
			phone_number,
			user_photo,
			sex,
			t_user.location_id,
			longitude,
			latitude,
			location_description
		FROM t_participate,t_user,t_location
		WHERE t_participate.activity_id = #{id}
		AND t_participate.user_id=t_user.user_id
		AND t_user.location_id=t_location.location_id;
	</select>

	<delete id="deleteParticipateById" parameterType="com.high.entity.Participate">
		DELETE FROM t_participate WHERE t_participate.activity_id=#{activityId} AND t_participate.user_id=#{userId};
	</delete>
</mapper>